body,
html {
    height: 100%;
    display: flex;
    width: 100%;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-brand:hover {
    color: #e65e5a;
}

.body-content {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.aboutContent {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(monitor.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: fixed;
}


.aboutContent p{
    font-weight: bold;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 300%;
    margin-bottom: 0;
}

.aboutContent h2 {
    color: white;
    font-family: 'Arapey', serif;
    font-weight: bold;
    font-size: 500%;
}

.wrapper{
    display: inline-block;
    margin-left: 20%;
    margin-top: 20%;
    
}

.aboutText {
    position: relative;
    top: 110%;
    background-color: rgb(255,224,228);
}

.aboutText h2{
    margin-left: 20%;
    color: rgb(249, 66, 58);
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;

}

.desc{
    display: table;
    margin-left: 18%;
    margin-right: 20%;
}

.person {
    display: table-cell;
    padding: 6%;
}

.text p{
    padding-top: 15%;
    line-height: 2;
}

.text h3 {
    padding-top: 45%;
    color: rgb(249, 66, 58);
}



footer{
    position: relative;
    top: 100%;
    background-color: white;
    
}

footer p{
    margin: 0;
    padding: 3%;
    color: rgb(249, 66, 58);
    display: inline-block;
    margin-left: 20%;
}

footer ul{
    list-style: none;
    margin-left: 16%;
    padding-top: 2%;
}

footer li{
    display: inline-block;
    padding-left: 5%;
}

footer a{
    text-decoration: none;
    color: rgb(249, 66, 58);
    font-weight: bold;
    font-size: 150%;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(249, 66, 58);
}