
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_restLayout.cshtml";
}
<div class="contactWrapper">
    <h2 class="contactHeader">Contact</h2>
    <p><b>Email: </b>something@gmail.com</p>
    <p><b>Telephone: </b>0732894320</p>
</div>

