
@{
    ViewBag.Title = "Welcome";
}
<body class="wallpaper">
    <div class="body" >
        <h2 class="intro">Work, Ethics, Intelligence</h2>
        <ul class="start_navigation">
            <li>
                <a href="~/Views/Home/Index.cshtml">About</a>
            </li>
            <li class="second">
                <a href="~/Views/Home/Index.cshtml">Contact</a>
            </li>
        </ul>
    </div>
    <hr />
</body>

