
@{
    ViewBag.Title = "Welcome";
}
<body class="wallpaper">
    <div class="body">
        <h2 class="intro">Work, Ethics, Intelligence</h2>
        <ul class="start_navigation">
            <li>
                <a href="~/Home/About">About</a>
            </li>
            <li class="second">
                <a href="~/Home/Contact">Contact</a>
            </li>
        </ul>
        
        <p class="introLine">Software developing group in HTML, CSS, Javascript and C#.<br> We focus on working as agile as possible to achieve <br />the most statisfactory results faster</p>
    </div>
    <hr />
</body>

